*{

    box-sizing: border-box;/*start content*/
    /*client div*/
  
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  body{
  
  overflow-x:hidden;
  }
  
  
  header{
  
    background-image: url(dubai-33972181_1920.png);
    background-position: center;
    height: 100vh;
    background-size: cover;
  }
  
  nav ul {
    float: right;
    list-style: none;
    margin: 30px;
  
  }
  
  nav ul li{
  
   display: inline-block;
  
  
  }
  nav ul li a{
    color: #EFD6AC;
    font-size: 17px;
    padding: 7px 13px;
    text-decoration: none;
  
   
    }
  
    .logo{
       float: left;
    }
     .info{
       float: left;
       margin-top: 30px;
       margin-left: 60px;
       font-size: 20px;
    }
    .clean{
  
      clear: both;
    }
    header h1{
      margin-left: 10%;
      margin-top: 10%;
      color: #fff;
    }
  
    .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  #titl1 {
    font-size: 28px;
    text-align: center;
    margin-top: 36px;
    position: relative;
}
  
  
#contener {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px;
    background-image: url(3.png);
    background-size: cover;
    margin-top: 71px;
    
}
.div {
    flex: 25%;
    max-width: 30%;
    padding: 10px 10px;
    height: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.div img{
    margin-top: 12px;
    vertical-align: middle;
   
    
}
#titre3 {
    margin-top: 26%;
    color: #BEAC7C;
    text-align: center;
    font-size: 77%;
}
#pictur {
    background-repeat: no-repeat;
}
#pictur1 {
    width: 100%;
    height: 40%;
    margin-top: 3%;
}
 #titre4 {
     color: white;
     margin-top: -13%;
     margin-left: 1%;
     font-size: 90%;
 }
 #titre5 {
     color: white;
     font-size: 85%;
     margin-left: 1%;
 }
 #button {
     background-color: #F2EADB;
     color: #022133;
     margin-top: 4%;
     padding-left: 8%;
     padding-right: 8%;
     height: 6%;
     margin-left: 45%;
     text-align: center;

 }
#button1 {
    background-color: #EFD6AC;
    color: #022133;
    border-radius: 50px;
    height: 5%;
    padding-left:2% ;
    padding-right:2% ;
    text-align: center;
    margin-left: 80%;
    margin-top: -2.5%;

}
#button1:hover{
    background-color:#022133 ;
    color: #EFD6AC;
} 
#footer {
    margin-top: 18%;
    background-color:#5B5549;
    width: 100%;
    height: 15%;
    display:flex;
}
#footer1 {
    color: white;
    margin-top: 3%;

}
#footer2 {
    color: white;
    margin-left: 60%;
    margin-top: 3%;
}

@media (max-width: 800px) {
    .div {
      flex: 50%;
      max-width: 50%;
      display: flex;
    flex-wrap: wrap;
    }
    
  }
  @media (max-width: 600px) {
    .div {
      flex: 100%;
      max-width: 100%;
      display: flex;
    flex-wrap: wrap;
    }
    #btn1{
    position: absolute;
    bottom: 331px;
    font-size: 7px;
    height: 27px;
    }
    #titr1{
        margin-right: 21%;
        position: relative;
        bottom: -40px;
        font-size: 181%;
    
    }
    #titr2 {
        position: relative;
        bottom: -25px;
    }
    #titl1{
        margin-top: -69%;
        font-size: 113%;
    }
    #logo img {
        position: relative;
        left: -16px;
        /* font-size: 14px; */
        width: 41%;
    
    }
    #header{
        position: relative;
        bottom: 40px;
    }
    .div{
        max-width: 75%;
    }
    
    
    #contener {
     margin: auto;
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px;
    position: relative;
    top: 85px;
  
        

    }
    #titre3 {
        margin-top: 24%;
        color: #BEAC7C;
        text-align: center;
        font-size: 77%;
    }
    #pictur1 {
        display: none;
    }
    #footer {
        height: 57%;
        margin-top: -10%;
        
    
    }
    #footer1 {
        margin-top: 60%;
        font-size: 70%;
        text-align: center;
    }
    #footer2 {
        margin-top: 61%;
        font-size: 67%;
        text-align: center;
    }
    #titre4 {
        position: relative;
          top: 101px;
        color: white;

    
     }
     #titre5 {
        position: relative;
        color: white;
        top: 115px;
     }
     #button {
        position: relative;
        top: 126px;
        right: 80px;
     }
     #button1 {
        position: relative;
        top: 164px;
        font-size: 10px;
        right: 180px;
     }
     .checkbtn{
        display: block;
      }
      nav ul{
          display: none;
        position: absolute;
        z-index: 100;
        width: 62%;
        height: 89%;
        margin: 0;
        background: #2c3e50;
        top: 96px;
        left: 13%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        /* display: none; */
        margin: 50px 0;
        line-height: 30px;
        
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        
        color: #0082e6;
      }
      #check:checked ~ ul{
        /* left: 0; */
        display: block;
      }
    }


 